<app-header></app-header>
<div class="container mx-auto mt-28 px-[6.25%]">
  <div class="flex justify-between items-center text-white mx-auto 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col xs:flex-col">
    <div class="2xl:w-[500px] xl:w-[500px] lg:w-[400px] md:w-[300px] sm:w-[400px] 2xl:mb-0 xl:mb-0 lg:mb-0 md:mb-0 sm:mb-10 xs:mb-5">
      <h1 class="2xl:text-7xl xl:text-7xl lg:text-5xl md:text-3xl sm:text-4xl xs:text-3xl font-bold 2xl:mb-8 xl:mb-8 lg:mb-6 md:mb-4 sm:mb-6 xs:mb-3">Discover Digital art & Collect NFTs</h1>
      <p class="2xl:mb-12 xl:mb-12 lg:mb-10 md:mb-8 sm:mb-8 xs:mb-6 2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg xs:text-base">NFT marketplace UI created with Anima for Figma. Collect, buy and sell art from more than 20k NFT artists.</p>
      <a routerLink="sign-up" class="block 2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg xs:text-base font-semibold bg-purple-500 text-center 2xl:w-[240px] xl:w-[240px] lg:w-[220px] md:w-[200px] sm:w-[220px] xs:w-full 2xl:py-4 xl:py-4 lg:py-3 md:py-2 sm:py-3 xs:py-2 rounded-2xl shadow-lg transition-shadow hover:shadow-purple-700">
        <fa-icon [icon]="faRocket" class="me-4"></fa-icon>Get Started
      </a>
      <div class="flex justify-center items-center gap-10 2xl:mt-12 xl:mt-12 lg:mt-10 md:mt-8 sm:mt-8 xs:mt-6">
        <div class="text-center">
          <p class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-xl xs:text-lg font-bold">240k+</p>
          <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">Total Sale</p>
        </div>
        <div class="text-center">
          <p class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-xl xs:text-lg font-bold">100k+</p>
          <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">Auctions</p>
        </div>
        <div class="text-center">
          <p class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-xl xs:text-lg font-bold">240k+</p>
          <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">Artists</p>
        </div>
      </div>
    </div>
    <div class="2xl:w-[500px] xl:w-[500px] lg:w-[400px] md:w-[300px] sm:w-[450px] xs:w-[300px]">
      <div class="rounded-xl overflow-hidden">
        <img src="/assets/images/example-header.svg" alt="Example NFT">
        <div class="bg-zinc-700 2xl:px-6 xl:px-6 lg:px-4 md:px-3 sm:px-6 xs:px-4 2xl:py-4 xl:py-4 lg:py-3 md:py-2 sm:py-4 xs:py-2">
          <h2 class="2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg font-semibold">Space Walking</h2>
          <div class="flex items-center gap-4 mt-3">
            <img src="/assets/images/example-header-avatar.svg" alt="Example Avatar">
            <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base">userRR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-36 text-white">
    <div class="mb-10">
      <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl font-bold">Trending Collection</h1>
      <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-base mt-3">Checkout our weekly updated trending collection.</p>
    </div>
    <div class="flex justify-between 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-row xs:flex-col items-center ">
      <div>
        <img src="/assets/images/example-tranding-animals1.svg" alt="Example Animal NFT" class="rounded-2xl 2xl:w-full xl:w-full lg:w-[85%] md:w-[95%] sm:w-[95%] xs:w-full">
        <div class="flex items-center gap-4 mt-3 mb-4">
          <img src="/assets/images/example-tranding-animals2.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] md:w-[28%] sm:w-[28%] xs:w-[30%]">
          <img src="/assets/images/example-tranding-animals3.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] md:w-[28%] sm:w-[28%] xs:w-[30%]">
          <div class="2xl:w-[100px] xl:w-[100px] lg:w-[67px] md:w-[90px] sm:w-[72px] xs:w-[87px] 2xl:h-[100px] xl:h-[100px] lg:h-[67px] md:h-[90px] sm:h-[72px] xs:h-[87px] bg-purple-500 rounded-2xl text-center">
            <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-2xl sm:text-xl xs:text-xl font-semibold 2xl:py-8 xl:py-8 lg:py-5 md:py-7 sm:py-5 xs:py-7">1025+</p>
          </div>
        </div>
        <h3 class="text-xl mb-3 font-bold"><a href="#" class="link-anime">DSGN Animals</a></h3>
        <a href="#">
          <div class="flex items-center gap-4">
            <img src="/assets/images/example-tranding-avatar1.svg" alt="">
            <p>MrFox</p>
          </div>
        </a>
      </div>
      <div class="2xl:my-0 xl:my-0 lg:my-0 md:my-0 sm:my-0 xs:my-8">
        <img src="/assets/images/example-tranding-mushrooms1.svg" alt="Example Animal NFT" class="rounded-2xl 2xl:w-full xl:w-full lg:w-[85%] md:w-[95%] sm:w-[95%]">
        <div class="flex items-center gap-4 mt-3 mb-4">
          <img src="/assets/images/example-tranding-mushrooms2.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] md:w-[28%] sm:w-[28%] xs:w-[30%]">
          <img src="/assets/images/example-tranding-mushrooms3.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] md:w-[28%] sm:w-[28%] xs:w-[30%]">
          <div class="2xl:w-[100px] xl:w-[100px] lg:w-[67px] md:w-[90px] sm:w-[72px] xs:w-[87px] 2xl:h-[100px] xl:h-[100px] lg:h-[67px] md:h-[90px] sm:h-[72px] xs:h-[87px] bg-purple-500 rounded-2xl text-center">
            <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-2xl sm:text-xl xs:text-xl font-semibold 2xl:py-8 xl:py-8 lg:py-5 md:py-7 sm:py-5 xs:py-7">1025+</p>
          </div>
        </div>
        <h3 class="text-xl mb-3 font-bold"><a href="#" class="link-anime">Magic Mushrooms</a></h3>
        <a href="#">
          <div class="flex items-center gap-4">
            <img src="/assets/images/example-tranding-avatar2.svg" alt="">
            <p>Shroomie</p>
          </div>
        </a>
      </div>
      <div class="2xl:block xl:block lg:block md:hidden sm:hidden xs:block">
        <img src="/assets/images/example-tranding-machines1.svg" alt="Example Animal NFT" class="rounded-2xl 2xl:w-full xl:w-full lg:w-[85%]">
        <div class="flex items-center gap-4 mt-3 mb-4">
          <img src="/assets/images/example-tranding-machines2.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] xs:w-[30%]">
          <img src="/assets/images/example-tranding-machines3.svg" alt="" class="rounded-2xl 2xl:w-[30%] xl:w-[30%] lg:w-[25%] xs:w-[30%]">
          <div class="2xl:w-[100px] xl:w-[100px] lg:w-[67px] xs:w-[87px] 2xl:h-[100px] xl:h-[100px] lg:h-[67px] xs:h-[87px] bg-purple-500 rounded-2xl text-center">
            <p class="2xl:text-2xl xl:text-2xl lg:text-xl xs:text-xl font-semibold 2xl:py-8 xl:py-8 lg:py-5 xs:py-7">1025+</p>
          </div>
        </div>
        <h3 class="text-xl mb-3 font-bold"><a href="#" class="link-anime">Disco Machines</a></h3>
        <a href="#">
          <div class="flex items-center gap-4">
            <img src="/assets/images/example-tranding-avatar3.svg" alt="">
            <p>BeKind2Robots</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="my-36 text-white">
    <div class="flex justify-between 2xl:items-end xl:items-end lg:items-end md:items-end sm:items-end xs:items-start mb-10 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-row xs:flex-col">
      <div class="2xl:mb-0 xl:mb-0 lg:mb-0 md:mb-0 sm:mb-0 xs:mb-3">
        <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl font-bold">Top Creators</h1>
        <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-base mt-3">Checkout Top Rated Creators on the NFT Marketplace</p>
      </div>
      <a routerLink="rankings" class="block 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base font-semibold border-2 border-purple-500 text-center 2xl:w-[210px] xl:w-[210px] lg:w-[175px] md:w-[168px] sm:w-[200px] xs:w-full 2xl:py-3 xl:py-3 lg:py-3 md:py-3 sm:py-3 xs:py-2 rounded-2xl text-purple-500 transition hover:text-white hover:bg-purple-500">
        <fa-icon [icon]="faRocket" class="me-4"></fa-icon>View Rankings
      </a>
    </div>
    <div class="flex flex-wrap items-center justify-between gap-y-8">
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] md:w-[320px] sm:w-[260px] md:h-[100px] sm:h-[100px] xs:w-[300px] xs:h-[100px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105 2xl:block xl:block lg:block md:flex sm:flex xs:flex items-center justify-center 2xl:gap-8 xl:gap-8 lg:gap-8 md:gap-8 sm:gap-4 xs:gap-4">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" class="2xl:mx-auto xl:mx-auto lg:mx-auto md:mx-0 sm:mx-0 2xl:py-7 xl:py-4 lg:py-2 md:py-0 sm:py-0 2xl:w-[50%] xl:w-[50%] lg:w-[50%] md:w-[25%] sm:w-[25%] xs:w-[25%]">
          <div>
            <h3 class="2xl:text-center xl:text-center lg:text-center md:text-start sm:text-start 2xl:text-xl xl:text-xl lg:text-lg md:text-xl sm:text-xl xs:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2 md:mb-3 xs:mb-3">MrFox</h3>
            <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
          </div>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:hidden">
        <div class="2xl:w-[300px] 2xl:h-[300px] xl:w-[240px] xl:h-[240px] lg:w-[180px] lg:h-[180px] relative bg-zinc-700 rounded-2xl shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <p class="absolute px-[8px] pt-px rounded-full bg-zinc-800 w-7 h-7 top-2 left-2">1</p>
          <img src="/assets/images/example-tranding-avatar1.svg" alt="" width="50%" class="mx-auto 2xl:py-7 xl:py-4 lg:py-2">
          <h3 class="text-center 2xl:text-xl xl:text-xl lg:text-lg font-semibold 2xl:mb-4 xl:mb-4 lg:mb-2">MrFox</h3>
          <p class="text-zinc-900 font-semibold text-center">Total Sales: <span class="text-white">34.53 ETH</span></p>
        </div>
      </a>
    </div>
  </div>
  <div class="my-36 text-white">
    <div class="mb-10">
      <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl font-bold">Browse Categories</h1>
    </div>
    <div class="flex flex-wrap justify-between 2xl:gap-8 xl:gap-8 lg:gap-6 md:gap-4 sm:gap-10 xs:gap-4">
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/art.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/PaintBrush.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Art</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/collectibles.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/Swatches.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Collectibles</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/music.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/MusicNotes.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Music</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/photography.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/Camera.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Photography</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/video.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/VideoCamera.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Video</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/utility.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/MagicWand.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Utility</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/sport.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/Basketball.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Sport</h2>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[300px] 2xl:h-[380px] xl:w-[240px] xl:h-[320px] lg:w-[180px] lg:h-[260px] md:w-[150px] md:h-[200px] sm:h-[300px] sm:w-[240px] xs:h-[180px] xs:w-[120px] rounded-2xl overflow-hidden bg-zinc-700 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div class="relative">
            <img src="/assets/images/virtual-worlds.svg" alt="" class="w-full blur-sm">
            <div class="absolute top-[33%] 2xl:left-[35%] xl:left-[30%] lg:left-[30%] md:left-[25%] sm:left-[32%] xs:left-[26%]">
              <img src="/assets/images/Planet.svg" alt="" class="2xl:w-full xl:w-full lg:w-[75%] md:w-[75%] sm:w-[85%] xs:w-[65%]">
            </div>
          </div>
          <div class="bg-zinc-700 h-full">
            <h2 class="font-bold 2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:px-10 xl:px-10 lg:px-5 md:px-3 sm:px-6 xs:px-2 2xl:py-5 xl:py-5 lg:py-5 md:py-2 sm:py-4 xs:py-4">Virtual Worlds</h2>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="my-36 text-white">
    <div class="flex justify-between 2xl:items-end xl:items-end lg:items-end md:items-end sm:items-end xs:items-start mb-10 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-row xs:flex-col">
      <div class="2xl:mb-0 xl:mb-0 lg:mb-0 md:mb-0 sm:mb-0 xs:mb-3">
        <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl font-bold">Discover More NFTs</h1>
        <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-base mt-3">Explore new trending NFTs</p>
      </div>
      <a routerLink="marketplace" class="block 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base font-semibold border-2 border-purple-500 text-center 2xl:w-[150px] xl:w-[150px] lg:w-[130px] md:w-[130px] sm:w-[110px] xs:w-full 2xl:py-3 xl:py-3 lg:py-3 md:py-3 sm:py-3 xs:py-2 rounded-2xl text-purple-500 transition hover:text-white hover:bg-purple-500">
        <fa-icon [icon]="faEye" class="me-4"></fa-icon>See All
      </a>
    </div>
    <div class="flex justify-between items-center 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-row xs:flex-col">
      <a href="#">
        <div class="2xl:w-[390px] 2xl:h-[530px] xl:w-[330px] xl:h-[470px] lg:w-[270px] lg:h-[410px] md:w-[320px] md:h-[420px] sm:w-[250px] sm:h-[390px] xs:w-full xs:h-[410px] rounded-2xl overflow-hidden shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div>
            <img src="/assets/images/example-nft-distant-galaxy.svg" alt="" class="w-full">
          </div>
          <div class="h-full bg-zinc-700 px-7 2xl:py-3 xl:py-3 lg:py-3 md:py-1.5 sm:py-4 xs:py-2">
            <div>
              <h4 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-semibold">Distant Galaxy</h4>
              <div class="flex items-center gap-4 mt-3">
                <img src="/assets/images/example-nfts-avatar.svg" alt="" width="7%">
                <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">MoonDancer</p>
              </div>
            </div>
            <div class="flex justify-between items-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-5 xs:mt-3">
              <div>
                <p class="text-zinc-900 font-semibold text-start">Price<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">1.63 ETH</span></p>
              </div>
              <div>
                <p class="text-zinc-900 font-semibold text-end">Highest Bid<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">0.33 wETH</span></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="2xl:my-0 xl:my-0 lg:my-0 md:my-0 sm:my-0 xs:my-8">
        <div class="2xl:w-[390px] 2xl:h-[530px] xl:w-[330px] xl:h-[470px] lg:w-[270px] lg:h-[410px] md:w-[320px] md:h-[420px] sm:w-[250px] sm:h-[390px] xs:w-full xs:h-[410px] rounded-2xl overflow-hidden shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div>
            <img src="/assets/images/example-nft-distant-galaxy.svg" alt="" class="w-full">
          </div>
          <div class="h-full bg-zinc-700 px-7 2xl:py-3 xl:py-3 lg:py-3 md:py-1.5 sm:py-4 xs:py-2">
            <div>
              <h4 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-semibold">Distant Galaxy</h4>
              <div class="flex items-center gap-4 mt-3">
                <img src="/assets/images/example-nfts-avatar.svg" alt="" width="7%">
                <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">MoonDancer</p>
              </div>
            </div>
            <div class="flex justify-between items-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-5 xs:mt-3">
              <div>
                <p class="text-zinc-900 font-semibold text-start">Price<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">1.63 ETH</span></p>
              </div>
              <div>
                <p class="text-zinc-900 font-semibold text-end">Highest Bid<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">0.33 wETH</span></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="2xl:block xl:block lg:block md:hidden sm:hidden xs:block">
        <div class="2xl:w-[390px] 2xl:h-[530px] xl:w-[330px] xl:h-[470px] lg:w-[270px] lg:h-[410px] md:w-[320px] md:h-[420px] sm:w-[250px] sm:h-[390px] xs:w-full xs:h-[410px] rounded-2xl overflow-hidden shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <div>
            <img src="/assets/images/example-nft-distant-galaxy.svg" alt="" class="w-full">
          </div>
          <div class="h-full bg-zinc-700 px-7 2xl:py-3 xl:py-3 lg:py-3 md:py-1.5 sm:py-4 xs:py-2">
            <div>
              <h4 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-semibold">Distant Galaxy</h4>
              <div class="flex items-center gap-4 mt-3">
                <img src="/assets/images/example-nfts-avatar.svg" alt="" width="7%">
                <p class="2xl:text-lg xl:text-lg lg:text-base md:text-sm sm:text-base xs:text-base">MoonDancer</p>
              </div>
            </div>
            <div class="flex justify-between items-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-5 xs:mt-3">
              <div>
                <p class="text-zinc-900 font-semibold text-start">Price<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">1.63 ETH</span></p>
              </div>
              <div>
                <p class="text-zinc-900 font-semibold text-end">Highest Bid<br> <span class="text-white 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base">0.33 wETH</span></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="bg-[url('/assets/images/example-nft-mushroom.svg')] 2xl:h-[910px] xl:h-[640px] lg:h-[512px] md:h-[384px] sm:h-[320px] xs:h-[525px] bg-cover bg-center my-36">
  <div class="w-full h-full bg-gradient-to-b from-transparent from-0% to-purple-500 to-100%">
    <div class="container px-[6.25%] mx-auto text-white 2xl:pt-[27%] xl:pt-[20%] lg:pt-[17%] md:pt-[15%] sm:pt-[15%] xs:pt-[20%]">
      <div class="flex gap-4 items-center bg-zinc-700 rounded-2xl 2xl:px-6 xl:px-6 lg:px-4 md:px-3 2xl:py-3 xl:py-3 lg:py-2 md:py-1.5 sm:py-1 xs:py-1 w-[175px]">
        <img src="/assets/images/example-tranding-avatar2.svg" alt="" width="25px">
        <p class="2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-base xs:text-base">Shroomie</p>
      </div>
      <div class="flex justify-between mt-10 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-row xs:flex-col 2xl:items-center xl:items-center lg:items-center md:items-center sm:items-center xs:items-start 2xl:gap-0 xl:gap-0 lg:gap-0 md:gap-0 sm:gap-0 xs:gap-y-8">
        <div>
          <h2 class="2xl:text-6xl xl:text-6xl lg:text-5xl md:text-4xl sm:text-3xl xs:text-4xl font-bold">Magic Mushrooms</h2>
          <a href="#" class="block mt-8 2xl:text-lg xl:text-lg lg:text-base md:text-base sm:text-base xs:text-base font-semibold border-2 border-white text-center 2xl:w-[150px] xl:w-[150px] lg:w-[130px] md:w-[130px] sm:w-[110px] xs:w-full 2xl:py-3 xl:py-3 lg:py-3 md:py-3 sm:py-3 xs:py-2 rounded-2xl transition hover:text-zinc-900 hover:bg-white">
            <fa-icon [icon]="faEye" class="me-4"></fa-icon>See NFT
          </a>
        </div>
        <div class="2xl:w-[300px] xl:w-[300px] lg:w-[250px] md:w-[300px] sm:w-[220px] xs:w-[230px] 2xl:mx-0 xl:mx-0 lg:mx-0 md:mx-0 sm:mx-0 xs:mx-auto 2xl:h-[150px] xl:h-[150px] lg:h-[120px] md:h-[150px] sm:h-[120px] rounded-2xl 2xl:px-6 xl:px-6 lg:px-4 md:px-6 sm:px-4 xs:px-6 2xl:py-6 xl:py-6 lg:py-4 md:py-6 sm:py-3 xs:py-3" style="background-color: rgba(63, 63, 70, .8);">
          <p>Auction ends in:</p>
          <div class="flex justify-between items-start text-center mt-3">
            <div>
              <h2 class="2xl:text-4xl xl:text-4xl lg:text-2xl md:text-4xl sm:text-xl xs:text-lg font-bold">59</h2>
              <p>Hours</p>
            </div>
            <div>
              <p class="2xl:text-4xl xl:text-4xl lg:text-2xl md:text-4xl sm:text-xl xs:text-lg font-bold">:</p>
            </div>
            <div>
              <h2 class="2xl:text-4xl xl:text-4xl lg:text-2xl md:text-4xl sm:text-xl xs:text-lg font-bold">59</h2>
              <p>Minutes</p>
            </div>
            <div>
              <p class="2xl:text-4xl xl:text-4xl lg:text-2xl md:text-4xl sm:text-xl xs:text-lg font-bold">:</p>
            </div>
            <div>
              <h2 class="2xl:text-4xl xl:text-4xl lg:text-2xl md:text-4xl sm:text-xl xs:text-lg font-bold">59</h2>
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-[6.25%] text-white">
  <div class="my-36">
    <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl font-bold">How It Works</h1>
    <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-base mt-3 mb-10">Find Out How To Get Started</p>
    <div class="flex 2xl:justify-between xl:justify-between lg:justify-between md:justify-between sm:justify-center xs:justify-center items-center flex-wrap 2xl:gap-0 xl:gap-0 lg:gap-0 md:gap-0 sm:gap-5 xs:gap-8">
      <a href="#">
        <div class="2xl:w-[390px] 2xl:h-[500px] xl:w-[330px] xl:h-[440px] lg:w-[270px] lg:h-[380px] md:w-[210px] md:h-[320px] sm:w-[250px] sm:h-[360px] xs:w-full xs:h-[350px] rounded-2xl overflow-hidden bg-zinc-700 2xl:pt-8 xl:pt-4 lg:pt-0 md:pt-0 sm:pt-0 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <img src="/assets/images/setup-wallet.svg" alt="" class="mx-auto w-[65%]">
          <div class="text-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-3 xs:mt-3 2xl:px-8 xl:px-8 lg:px-8 md:px-4 sm:px-4 xs:px-4">
            <h3 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-bold">Setup Your wallet</h3>
            <p class="2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg xs:text-base mt-2">Set up your wallet of choice. Connect it to the Animarket by clicking the wallet icon in the top right corner.</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[390px] 2xl:h-[500px] xl:w-[330px] xl:h-[440px] lg:w-[270px] lg:h-[380px] md:w-[210px] md:h-[320px] sm:w-[250px] sm:h-[360px] xs:w-full xs:h-[350px] rounded-2xl overflow-hidden bg-zinc-700 2xl:pt-8 xl:pt-4 lg:pt-0 md:pt-0 sm:pt-0 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <img src="/assets/images/create-collection.svg" alt="" class="mx-auto w-[65%]">
          <div class="text-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-3 xs:mt-3 2xl:px-8 xl:px-8 lg:px-8 md:px-4 sm:px-4 xs:px-4">
            <h3 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-bold">Create Collection</h3>
            <p class="2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg xs:text-base mt-2">Upload your work and setup your collection. Add a description, social links and floor price.</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="2xl:w-[390px] 2xl:h-[500px] xl:w-[330px] xl:h-[440px] lg:w-[270px] lg:h-[380px] md:w-[210px] md:h-[320px] sm:w-[250px] sm:h-[360px] xs:w-full xs:h-[350px] rounded-2xl overflow-hidden bg-zinc-700 2xl:pt-8 xl:pt-4 lg:pt-0 md:pt-0 sm:pt-0 shadow-lg hover:shadow-zinc-950 transition-all hover:scale-105">
          <img src="/assets/images/start-earning.svg" alt="" class="mx-auto w-[65%]">
          <div class="text-center 2xl:mt-5 xl:mt-5 lg:mt-5 md:mt-3 sm:mt-3 xs:mt-3 2xl:px-8 xl:px-8 lg:px-8 md:px-4 sm:px-4 xs:px-4">
            <h3 class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg font-bold">Start Earning</h3>
            <p class="2xl:text-xl xl:text-xl lg:text-lg md:text-base sm:text-lg xs:text-base mt-2">Choose between auctions and fixed-price listings. Start earning by selling your NFTs or trading others.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="my-36">
    <div class="w-full 2xl:bg-zinc-700 xl:bg-zinc-700 lg:bg-zinc-700 md:bg-zinc-700 sm:bg-transparent 2xl:py-20 xl:py-20 lg:py-10 md:py-8 sm:py-8 rounded-2xl flex 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col xs:flex-col 2xl:justify-around xl:justify-around lg:justify-around md:justify-around sm:justify-center xs:justify-center items-center 2xl:gap-0 xl:gap-0 lg:gap-0 md:gap-0 sm:gap-10 xs:gap-8">
      <img src="/assets/images/weekly-digest.svg" alt="" class="rounded-2xl 2xl:w-[40%] xl:w-[40%] lg:w-[45%] md:w-[45%] sm:w-[80%] xs:w-full">
      <div class="2xl:w-[35%] xl:w-[35%] lg:w-[35%] md:w-[35%] sm:w-[80%]">
        <h1 class="2xl:text-5xl xl:text-5xl lg:text-4xl md:text-3xl sm:text-4xl xs:text-3xl 2xl:text-start xl:text-start lg:text-start md:text-start sm:text-center xs:text-center font-bold">Join Our Weekly Digest</h1>
        <p class="2xl:text-2xl xl:text-2xl lg:text-xl md:text-lg sm:text-xl xs:text-lg 2xl:my-5 xl:my-5 lg:my-5 md:my-3 sm:py-5 xs:my-5 2xl:text-start xl:text-start lg:text-start md:text-start sm:text-center xs:text-center">Get Exclusive Promotions & Updates Straight To Your Inbox.</p>
        <form class="relative">
          <input type="email" placeholder="Enter your email here" class="text-zinc-900 placeholder-zinc-900 py-3 px-4 rounded-2xl 2xl:text-lg xl:text-base lg:text-sm md:text-sm sm:text-lg xs:text-base 2xl:w-[90%] xl:w-full lg:w-full md:w-full sm:w-full xs:w-full focus:outline-none">
          <button class="2xl:absolute xl:absolute lg:absolute md:static sm:static xs:static 2xl:right-10 xl:right-0 lg:right-0 2xl:text-lg xl:text-base lg:text-sm md:text-sm sm:text-lg xs:text-base font-semibold text-center 2xl:w-[150px] xl:w-[150px] lg:w-[130px] md:w-full sm:w-full xs:w-full py-3 2xl:mt-0 xl:mt-0 lg:mt-0 md:mt-2 sm:mt-5 xs:mt-3 rounded-2xl bg-purple-500 text-white transition">
            <fa-icon [icon]="faEnvelope" class="me-3"></fa-icon>Subscribe
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
